<%= semantic_form_for @user, :url => update_password_user_path(@user), :method => :put, :html => {:class => 'list'} do |f| %>
  <h1><%= change(:password) %></h1>
  <%= f.input :old_password if current_user %>
  <%= f.input :password, :label => ft(:new_password) %>
  <%= f.input :password_confirmation, :label => ft(:new_password_confirmation) %>
  <%= hidden_field_tag :code, params[:code] %>
  <%= f.submit update(:password), :class => :submit, :name => either_of(current_user,'user[update_password]','user[update_password_with_key]') %>
<% end %>
