<%= semantic_form_for @user do |f| %>
  <h1 class="first">Personal Info</h1>
  <%= f.input :name %>
  <%# f.input :username %>
  <%= f.input :email, :label => ft(:email)+'*' %>
  <%= f.input :prefecture, :as => :select, :collection => User::PREFECTURES %>
  <%= f.input :address %>
  <%= image_tag @map_url unless @map_url.nil? %>
  <h1>Security</h1>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= hidden_field_tag :address_checked, params[:address_checked] %>
  <%= f.submit (@user.new_record? ? t(:sign_up) : update(:profile)), :class => :submit %>
<% end %>

