<%# image_tag 'Sendai.png', :id => "header" %>

<%= form_tag sessions_path, :class => :inline, :id => :login do %>
  <li id="email" class="block">
    <%= label_tag :login, t(:login) %>
    <%= text_field_tag :login %>
  </li>
  <li id="password" class="block">
    <%= label_tag :password, ft(:password) %>
    <%= password_field_tag :password %>
  </li>
  <div class="clear"></div>
  <%= submit_tag t(:login), :class => :submit %>
  <%= link_to message(:forgot_password?), new_reset_path %>
<% end %>
