<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Sendai, 20 years later" %></title>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag "application", "formtastic" %>
    <%= javascript_include_tag "jquery", "rails", "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <div class="clear"></div>
      <% end %>
      <div id="contents">
        <div id="user_nav">
          <% if current_user %>
            <%= t('message.welcome',:user=>current_user.email) %>
            <%= t('message.not_you?') %>
            <%# link_to t(:log_out), logout_path %>
            <%= render 'operator/logout_header' %>
          <% else %>
            <%= render 'operator/login_header' %>
          <% end %>
          <%# link_to "scroll up", scrollup_path %>
          <%# link_to "scroll down", root_path %>
          <%# link_to "movie", movie_path %>
          <div class="clear"></div>
        </div>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
